target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.DS_Store
.classpath
.project
.settings/
target/
target-grunt/
test-output/
*.class
*.iml
*.log
.idea/
.gitignore
.gitattributes
bin/
.metadata/
bower_components/
node_modules/
.metadata
*.versionsBackup
bin/
foundation/addon/indexer/web/overlays/
*/MANIFEST.MF
*.launch
api/public/src/main/webapp/sdk
fluig/sdk/api/javadoc
.recommenders/
*.jshintrc

